html,
body,
#root,
.App {
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.backgroundWave1 {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.backgroundWave2 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}
